* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    /*reset Chrome user agent styles*/
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-before: 0px;
    -webkit-padding-after: 0px;
    -webkit-padding-start: 0px;
    -webkit-padding-end: 0px;
}


/*general styles*/

html,
body {
    width: 100%;
    overflow-x: hidden;
}

body {
    background: #FEEDDF;
    font-family: JohnstonMdITCTT, Verdana, Helvetica, sans-serif;
    font-weight: normal;
    font-style: normal;
    color: #3A3549;
    margin: 0;
}

.wrapper {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
    clear: both;
    display: block;
    height: auto;
}


/*header styles*/

header {
    display: block;
    height: auto;
    padding-bottom: 0;
    overflow: visible;
    transition: all 0.2s ease-out 0s;
    margin: 0px;
    padding: 5px;
    width: 100%;
    border-color: #599a68;
    background: lightskyblue;
    text-align: left;
    position: fixed;
    top: 0;
    left: 0;
}

header h1 {
    text-align: left;
    display: inline-block;
    width: 49%;
    vertical-align: top;
    color: lemonchiffon;
    padding-left: 18px;
}

header h1 a {
    color: #eee;
    text-decoration: none;
    font-family: 'Pacifico', cursive;
}

header h1 a:hover {
    text-decoration: underline;
    color: white;
}

header .navigation {
    display: inline-block;
    text-align: right;
    vertical-align: top;
    margin-top: 7px;
/*    float: right;*/
}

header .navigation ul {
    list-style: none;
}

header .navigation li {
    display: inline-block;
    padding: 3px 10px;
}

header .navigation a {
    font-weight: 800;
    color: #eee;
    text-decoration: none;
}

/* links */

header .navigation a:link,
header .navigation a:visited {
    color: #eee;
}

header .navigation a:hover,
header .navigation a:focus {
    color: white;
}

header .navigation a:active {
    color: #eee;
}
